@font-face {
    font-family: "CalibriRegular";
    src: url('../../../shared/fonts/Calibri\ Regular.ttf');
}
.form{
    background-color: #FFFFFF;
    height: 5vh;
    width: 30vw;
    border: 2px solid #006B73;
    border-radius: 15px;
    opacity: 0.7;
    margin-bottom: 1vh;
}

@media (max-height: 930px) {
    .form {
        height: 3rem;
    }
}

/*.form:active{*/
/*    background-color: rgb(212, 211, 211);*/
/*    box-shadow: 0px;*/
/*}*/

.checkbox{
    width: 20px;
    height: 20px;
    border-radius:5px;
    border: 2px solid #006B73;
}

.checkbox_text{
    font-family: "CalibriRegular";
    color:#959595;
    font-size: 14px;
}

.btn_regist{
    background-color: #F0F0F3;
    color: rgba(0, 107, 115, 0.7);
    border-radius:15px;
    border: #006B73 2px solid;
    opacity:0.7;
    width: 14vw;
    height: 38px;
    margin-top: 6vh;
    box-shadow: inset -5px -5px 8px 0px rgba(0, 0, 0, 0.25)
}

.btn_regist:hover {
    background-color: #006B73;
    border: #006B73 2px solid;
}

.btn_regist_text {
    font-size: 1vw;
    font-family: "CalibriRegular";
}